---
---
p.output img {
  max-width: 80% !important;
}
main, nav {
    scrollbar-width: auto !important;
}
/*
.c-textbook {
	    max-width: 100% !important;
}
.c-textbook .o-wrapper {
	    margin-left: 6px !important;
	    max-width: 80% !important; 
}
.sidebar__right {
	
}
*/

@import 'main';
